<div class="u-treeview" r-class={ {'z-dis': disabled, "u-treeview-tb": !!toolbars.length && enableCheck} }>
    {#if enableCheck}
    <div class="tb">
        <div class="u-btns u-btns-tb">
        {#list toolbars as tb}
            <button class="u-btn {tb.cls||''}" on-click={tb.handler.call(this, tb, $event)} r-attr-b={{"disabled": tb.disabled}}>
                {#if tb.icon}
                <i class="f-icon f-icon-{tb.icon}"></i>
                {/if}
                {tb.text}
            </button>
        {/list}
        </div>
    </div>
    {/if}
    <div class="bd">
        <stateTreeViewList source={source} visible={true} />
    </div>
</div>